
body,h1,h2,h3,h4,h5,h6 {font-family: "Arial", Arial, sans-serif;font-weight: 600;}
//*h1,h2,h3,h4,h5,h6 {font-family: "Cooper Black", serif; font-weight: 600; color: #385902} *//
body, html {
height: auto;
margin:0px;
}

.grid-container {
	display:grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: auto auto auto auto auto auto auto;
	height: 100%;
	padding: 5px 5px 5px 5px;
}

.quote {
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;
	padding: 20px 20px 20px 20px;
}

.edge {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 3;
	padding: 20px 20px 20px 20px;
}

.benefits{
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 3;
	padding: 20px 20px 20px 20px;
}

.vs{
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 3;
	grid-row-end: 4;
	padding: 20px 20px 20px 20px;
}

.vsleft{
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 4;
	grid-row-end: 5;
	padding: 20px 20px 20px 20px;
}

.vsright{
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 4;
	grid-row-end: 5;
	padding: 20px 20px 20px 20px;
}

.howwhy{
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 5;
	grid-row-end: 6;
	padding: 20px 20px 20px 20px;
}

.disruptive{
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 6;
	grid-row-end: 7;
	padding: 20px 20px 20px 20px;
}

.disruptivehow{
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 6;
	grid-row-end: 7;
	padding: 20px 20px 20px 20px;
}

.status{
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 7;
	grid-row-end: 8;
	padding: 20px 20px 20px 20px;
}

ol {
	color: black;
	list-style-type: circle;
}
