<style type="text/css">
.body1{font-family: 'Teko', sans-serif; font-weight: 400}
.body2{font-family: 'Roboto Mono', monospace;}

h1,h2,h3,h4,h5,h6{font-family: 'Teko', sans-serif; font-weight: 500; font-size-adjust: 30px;}
p,ul{font-family: 'Teko', sans-serif; font-weight: 400; font-size: 20px;}
body, html {
height: auto;
margin:0px;
}

.grid-container-home {
	display:grid;
	grid-template-columns: 50% 50%;
	grid-template-rows: auto auto auto;
	height: 100%;
	padding-left: 70px;
	padding-right: 70px;
	background-color: #B4D2E7;
}

.grid-container-content{
	display:grid;
	grid-template-columns: 15% 35% 35% 15%;
	grid-template-rows: 20em auto auto auto;
	height: auto;
}

.grid-container-content2{
	display:grid;
	grid-template-columns: 15% 35% 35% 15%;
	grid-template-rows: 20em auto auto auto auto auto auto;
	width: auto;
	height: auto;
}

.hometitle{
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 1;
	grid-row-end: 2;
	padding-left: 70px;
	padding-right: 70px;
	text-align:center;
}

.homeleft{
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 2;
	grid-row-end: 3;
	padding: 20px 20px 20px 20px;
	text-align: center;
	background-color: #091540;
	margin-left: 70px;
	color:#B4D2E7;
}

.homeright{
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 2;
	grid-row-end: 3;
	padding: 20px 20px 20px 20px;
	text-align: center;
	background-color: #35605A;
	margin-right: 70px;
	color:#B4D2E7;
}

.homebottom{
	grid-column-start: 1;
	grid-column-end: 3;
	grid-row-start: 3;
	grid-row-end: 4;
	padding: 20px 20px 20px 70px;
	color:#091540;
}

a.text:link{
	font-weight:400;
	font-size:20px;
	text-decoration: none;
	border-left: 10px hidden;
	/*padding-left: 10px;
	margin-bottom: 5px;*/
	font-size: 18px;
}

a{
	color: white;
	text-decoration:none;
}

a:hover{
	color:#FF91A4;
}

/*PAGE 2*/

.left{
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start: 1;
	grid-row-end: 7;
	position: fixed;
	width:168px;
	padding: 50px 20px 70px 20px;
}

.right{
	grid-column-start: 4;
	grid-column-end: 5;
	grid-row-start: 2;
	grid-row-end: 6;
	padding: 20px 20px 20px 20px;
	color: black;
	border-left: double;
	font-size: 10px;
	line-height: 1;
}

.title {
	grid-column-start: 2;
	grid-column-end: 5;
	grid-row-start: 1;
	grid-row-end: 2;
	padding: 20px 20px 20px 20px;
}

.edgeintro{
	grid-column-start: 2;
	grid-column-end: 4;
	grid-row-start: 2;
	grid-row-end: 3;
	padding: 20px 20px 20px 20px;
	text-align:justify;
}

.benefits{
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 3;
	grid-row-end: 4;
	padding: 20px 50px 20px 20px;
	text-align:justify;
}

.types{
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 3;
	grid-row-end: 4;
	padding: 20px 20px 20px 50px;
	text-align:justify;
}

.bibliography1{
	grid-column-start: 2;
	grid-column-end: 4;
	grid-row-start: 6;
	grid-row-end: 7;
	padding: 20px 20px 20px 20px;
}

/*PAGE 3*/
.vs{
	grid-column-start: 2;
	grid-column-end: 4;
	grid-row-start: 2;
	grid-row-end: 3;
	padding: 20px 20px 20px 20px;
	text-align:left;
}
.vsleft
{
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start: 3;
	grid-row-end: 4;
	padding: 20px 50px 20px 20px;
	text-align:justify;
}
.vsright{
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start: 3;
	grid-row-end: 4;
	padding: 20px 20px 20px 50px;
	text-align:justify;
}
.center{
	grid-column-start: 2;
	grid-column-end: 4;
	grid-row-start: 4;
	grid-row-end: 5;
	padding: 20px 20px 20px 20px;
	text-align:justify;
}
.highlight{
	grid-column-start: 2;
	grid-column-end: 4;
	grid-row-start: 5;
	grid-row-end: 6;
	padding: 20px 20px 20px 20px;
	text-align:justify;
	background-color: #94C5CC;
}

.bibliography2{
	grid-column-start: 2;
	grid-column-end: 4;
	grid-row-start: 6;
	grid-row-end: 7;
	padding: 20px 20px 20px 20px;
}

</style>
